body {
  background-color: #f5f4f4;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 550px;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
}

.screen {
  width: 400px;
  height: 80px;
  border: 1px solid black;
}
